.services {
  background-color: #171717;
  color: #f5f5f5;

  &__list {
    border-top: 1px solid #f5f5f5;
  }


  &__item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid #f5f5f5;
    padding-right: 44px;
  }

  &__item-title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 300;
  }

  &__item-text {
    font-size: 16px;
    max-width: 800px;
    font-weight: 400;
    width: 100%;

  }

}

@media (max-width: 1300px) {

  .services {

    &__item {
      display: block;
      padding-right: 0;
    }
  }
}

@media (max-width: 740px) {
  .section-box {
    padding: 50px 0;
  }
  .section {
    &__title {
      margin-bottom: 20px;
      font-size: 28px;
    }
  }

  .services {

    &__item {
      padding: 10px 0;


      &-title {
        font-size: 20px;
      }
    }
  }

}